@model DesignExplorer.DataAccess.Model.User
@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <title>Design Explorer Login</title>

    <!-- Fonts -->
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->
    <!-- core:css -->
    <link href="~/Theme/Css/core.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/Theme/Css/iconfont.css" rel="stylesheet" />
    <link href="~/Theme/Css/flag-icon.min.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Layout styles -->
    <link href="~/Theme/Css/style.css" rel="stylesheet" />
    <!-- End layout styles -->
    @*<link rel="shortcut icon" href="../../../assets/images/favicon.png" />*@
</head>

<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "forms-sample", enctype = "multipart/form-data", onsubmit = "showLoader(this);", @novalidate = "novalidate" }))
    {
        <div class="main-wrapper">
            <div class="page-wrapper full-page">
                <div class="page-content d-flex align-items-center justify-content-center">

                    <div class="row w-100 mx-0 auth-page">
                        <div class="col-md-4 mx-auto">
                            <div class="card">
                                @if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible" style="text-align: center; margin-left: 5px; margin-right: 5px;" role="alert">
                                        <strong>@TempData["Error"]</strong>
                                    </div>
                                }
                                <div class="row">
                                    @*<div class="col-md-4 pe-md-0">
                                            <div class="auth-side-wrapper">

                                            </div>
                                        </div>*@

                                    <div class="col-md-12 ps-md-0">
                                        <div class="auth-form-wrapper px-4 py-5">
                                            <a href="#" class="noble-ui-logo logo-light d-block mb-2">Noble<span>UI</span></a>
                                            @*<h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>*@
                                            @*<form class="forms-sample">*@
                                            <div class="mb-3">
                                                <label for="userEmail" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="userEmail" placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="userPassword" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="userPassword" autocomplete="current-password" placeholder="Password">
                                            </div>
                                            <div class="form-check mb-3">
                                                <input type="checkbox" class="form-check-input" id="authCheck">
                                                <label class="form-check-label" for="authCheck">
                                                    Remember me
                                                </label>
                                            </div>
                                            <div>
                                                @*<a href="../../dashboard.html" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">Login</a>*@
                                                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">
                                                    @*<i class="btn-icon-prepend" data-feather="twitter"></i>*@
                                                    Login
                                                </button>
                                            </div>
                                            @*<a href="register.html" class="btn btn-outline-primary mb-2 mb-md-0 d-block mt-3 text-muted">Not a user? Sign up</a>*@
                                            @*</form>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</body>

</html>
